# Cadence & Tool Logs
*.log*
*.cmd*
*.key
*.diag
*.tstamp
.cadence/

# Simulation Databases & Waveforms
INCA_libs/
waves.shm/
*.dsn
*.trn

# Synthesis / Formal Artifacts
fv/

# Cadence OpenAccess Lock Files
*.cdslck
*.tag
data.dm

# Archives
*.zip
*.gz
